certifi==2023.5.7
charset-normalizer==3.1.0
decorator==4.4.2
ffmpeg==1.4
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
iniconfig==2.0.0
moviepy==1.0.3
numpy==1.25.0
packaging==23.1
Pillow==10.0.0
platformdirs==3.8.0
pluggy==1.2.0
proglog==0.1.10
pyopencl==2023.1.1
pytest==7.4.0
pytools==2023.1
requests==2.31.0
tqdm==4.65.0
urllib3==2.0.3
